{% extends 'bootstrap/base.html' %}

{% set navigation_bar = [
('/', 'index', 'Home'),
('/sensors', 'sensors', 'Logging'),
('/report', 'report', 'Reporting'),
('/admin', 'userAdmin', 'Administration')
] -%}

{% set active_page = active_page|default('index') -%}

{% block navbar %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}" style = "color : #e95809;" class="d-inline-block align-top">
                <img src="./static/fridge.svg" style="width:4vh; height:4vh">
            </a>
            <a class="navbar-brand" href="{{ url_for('index') }}" style = "color : #e95809; font-size:40px" class="d-inline-block align-top">
                Smart Pharmacy Fridge
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav" id="navigation">
                {% for href, id, caption in navigation_bar %}
                <li
                    {% if id == active_page %}
                        class="active"
                    {% endif %}
                >
                    <a href="{{ href|e }}" style="padding:2vh">{{ caption|e }}
                        {% if id == active_page %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="panel panel-default" style="position: relative; left: 5vw; top: 2vh; width: 1230px; margin: auto;">
    <div class="panel-body">
        <h3 style="font-weight: 700; color: orangered">Live View</h3>
        <div class="row">
            <div class="col-md-6">
                <a class="btn" href="{{ url_for('triggerAuth') }}" style="background-color: orangered; color: white;" role="button">Unlock fridge</a>
            </div>
            <div class="col-md-6">
                {% if authorisedUser %}
                    <p>Smart Pharmacy Fridge opened by {{ authorisedUser }}</p>
                    <img src="static/user_photos/{{ photo }}" style="position: absolute; left: 200px; top: 20px; width: 60px; height: 130px;">
                {% endif %}

                {% if authorisedUser == None %}
                    <div class="alert alert-danger" role="alert">
                        Unsuccessful Login attempt detected!
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table">
                        <h2>Current Medicine Stock</h2>
                        <thead>
                        <tr>
                            <th scope="col">Medicine</th>
                            <th scope="col"># In Stock</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for medicine in medicine_stock_data %}
                            <tr>
                                <td>{{medicine[4]}}</td>
                                <td>{{medicine[2]}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <img src="static/live_fridge.PNG" style="position: relative; left: 0; top: 0; border: {{fridge_border}};">
                {% if medicine_dict['Amoxicillin'] and medicine_dict['Amoxicillin'] > 0 %}
                    <img src="static/Amoxicillin.PNG" style="position: absolute; left: 30px; top: 50px; width: 150px; height: 100px;">
                {% endif %}
                {% if medicine_dict['Humiera'] and medicine_dict['Humiera'] > 0 %}
                    <img src="static/humira.PNG" style="position: absolute; left: 200px; top: 20px; width: 60px; height: 130px;">
                {% endif %}
                {% if medicine_dict['Atgam'] and medicine_dict['Atgam'] > 0 %}
                    <img src="static/atgam.PNG" style="position: absolute; left: 300px; top: 50px; width: 150px; height: 100px;">
                {% endif %}
                {% if medicine_dict['Azasite'] and medicine_dict['Azasite'] > 0 %}
                    <img src="static/azasite.PNG" style="position: absolute; left: 470px; top: 50px; width: 65px; height: 100px;">
                {% endif %}
                {% if medicine_dict['Benzamycin'] and medicine_dict['Benzamycin'] > 0 %}
                    <img src="static/Benzamycin.PNG" style="position: absolute; left: 60px; top: 240px; width: 70px; height: 100px;">
                {% endif %}
                {% if medicine_dict['Emcyt'] and medicine_dict['Emcyt'] > 0 %}
                <img src="static/emcyt.PNG" style="position: absolute; left: 150px; top: 240px; width: 150px; height: 80px;">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
