{% extends "base.html" %}
{% set active_page = "monthlyreport" %}
{% block content %}
<div class="container">
    
    <div class="table-responsive">
        <table class="table">
            <h2></h2>
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Min Temperature</th>
                    <th scope="col">Maximum Temperature</th>
                </tr>
            </thead>
            
            <tbody>
                {% for sensor in sensor_data %}
                <tr>
                    <td>{{sensor_data[sensor][0]}}</td>
                    <td>{{sensor_data[sensor][1]}}</td>
                    <td>{{sensor_data[sensor][2]}}</td>
                </tr>    
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    
</div>

{% endblock %}
