{% extends "base.html" %}
{% set active_page = "sensors" %}
{% block content %}

<div class="container">
    {% for sensor in sensor_data %}
    <h2>{{sensor}} logs</h2>
    <div class="tableFixHead">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="background-color: white;">Date Logged</th>
                    <th scope="col" style="background-color: white;">Value Logged</th>
                </tr>
            </thead>
            <tbody>
                {% for reading in sensor_data[sensor] %}
                    <tr>
                        <td>{{reading[2]}}</td>
                        <td>{{reading[3]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}